{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="w-full max-w-md bg-white shadow-md rounded-lg p-8">

        <div class="p-6 space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 text-center">
                Restablecer contraseña
            </h1>

            {% if validlink %}
                <form class="space-y-4" method="post">
                    {% csrf_token %}

                    <div>
                        <label for="{{ form.new_password1.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900">
                            Nueva contraseña
                        </label>
                        {% render_field form.new_password1 class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" %}
                    </div>

                    <div>
                        <label for="{{ form.new_password2.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900 ">
                            Confirmar nueva contraseña
                        </label>
                        {% render_field form.new_password2 class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" %}
                    </div>

                    <button type="submit"
                            class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Cambiar contraseña
                    </button>
                </form>
            {% else %}
                <div class="text-center text-red-600">
                    El enlace no es válido o ya fue utilizado. Solicita uno nuevo desde la página de inicio.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
